<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Sorting Quiz</title>
  </head>
  <body>
    <div id="sub-content">
      <form class="" action="/results" method="post">
        <br><br>
        <div id="submit-div">
          <h1>Hmm, difficult. VERY difficult</<h1>
        </div>
        <br>
        <h4>Dawn or Dusk?</h4>
        <input type="radio" name="question0" value="Dawn">Dawn<br>
        <input type="radio" name="question0" value="Dusk">Dusk
        <br><br>
        <h4>Forest or River?</h4>
        <input type="radio" name="question1" value="Forest">Forest<br>
        <input type="radio" name="question1" value="River">River
        <br><br>
        <h4>Moon or Stars?</h4>
        <input type="radio" name="question2" value="Moon">Moon<br>
        <input type="radio" name="question2" value="Stars">Stars
        <br><br>
        <h4>Four boxes are placed before you. Which would you try and open?</h4>
        <input type="radio" name="question3" value="Tortoiseshell">The small tortoiseshell box, embellished with gold, inside which some small creature seems to be squeaking.<br>
        <input type="radio" name="question3" value="Merlin">The gleaming jet black box with a silver lock and key, marked with a mysterious rune that you know to be the mark of Merlin.<br>
        <input type="radio" name="question3" value="Ornate">The ornate golden casket, standing on clawed feet, whose inscription warns that both secret knowledge and unbearable temptation lie within.<br>
        <input type="radio" name="question3" value="Pewter">The small pewter box, unassuming and plain, with a scratched message upon it that reads ‘I open only for the worthy.’
        <br><br>
        <h4>You and two friends need to cross a bridge guarded by a river troll who insists on fighting one of you before he will let all of you pass. Do you:</h4>
        <input type="radio" name="question4" value="Confuse">Attempt to confuse the troll into letting all three of you pass without fighting?<br>
        <input type="radio" name="question4" value="Lots">Suggest drawing lots to decide which of you will fight?<br>
        <input type="radio" name="question4" value="All">Suggest that all three of you should fight (without telling the troll)?<br>
        <input type="radio" name="question4" value="Volunteer">Volunteer to fight?
        <br><br>
        <h4>Once every century, the Flutterby bush produces flowers that adapt their scent to attract the unwary. If it lured you, it would smell of:</h4>
        <input type="radio" name="question5" value="Fire">A crackling log fire<br>
        <input type="radio" name="question5" value="Sea">The sea<br>
        <input type="radio" name="question5" value="Parchment">Fresh parchment<br>
        <input type="radio" name="question5" value="Home">Home
        <br><br>
        <h4>One of your house mates has cheated in a Hogwarts exam by using a Self-Spelling Quill. Now he has come top of the class in Charms, beating you into second place. Professor Flitwick is suspicious of what happened. He draws you to one side after his lesson and asks you whether or not your classmate used a forbidden quill. What do you do?</h4>
        <input type="radio" name="question6" value="Lie">Lie and say you don’t know (but hope that somebody else tells Professor Flitwick the truth).<br>
        <input type="radio" name="question6" value="Ask">Tell Professor Flitwick that he ought to ask your classmate (and resolve to tell your classmate that if he doesn’t tell the truth, you will).<br>
        <input type="radio" name="question6" value="Truth">Tell Professor Flitwick the truth. If your classmate is prepared to win by cheating, he deserves to be found out. Also, as you are both in the same house, any points he loses will be regained by you, for coming first in his place.<br>
        <input type="radio" name="question6" value="Tattle">You would not wait to be asked to tell Professor Flitwick the truth. If you knew that somebody was using a forbidden quill, you would tell the teacher before the exam started.
        <br><br>
        <h4>Which of the following do you find most difficult to deal with?</h4>
        <input type="radio" name="question7" value="Hunger">Hunger<br>
        <input type="radio" name="question7" value="Cold">Cold<br>
        <input type="radio" name="question7" value="Loneliness">Loneliness<br>
        <input type="radio" name="question7" value="Ignored">Being ignored<br>
        <input type="radio" name="question7" value="Boredom">Boredom
        <br><br>
        <h4>You enter an enchanted garden. What would you be most curious to examine first?</h4>
        <input type="radio" name="question8" value="Tree">The silver leafed tree bearing golden apples<br>
        <input type="radio" name="question8" value="Toadstools">The fat red toadstools that appear to be talking to each other<br>
        <input type="radio" name="question8" value="Pool">The bubbling pool, in the depths of which something luminous is swirling<br>
        <input type="radio" name="question8" value="Wizard">The statue of an old wizard with a strangely twinkling eye
        <br><br>
        <h4> Four goblets are placed before you. Which would you choose to drink?</h4>
        <input type="radio" name="question9" value="Diamonds">The foaming, frothing, silvery liquid that sparkles as though containing ground diamonds.<br>
        <input type="radio" name="question9" value="Plums">The smooth, thick, richly purple drink that gives off a delicious smell of chocolate and plums.<br>
        <input type="radio" name="question9" value="Sunspots">The golden liquid so bright that it hurts the eye, and which makes sunspots dance all around the room.<br>
        <input type="radio" name="question9" value="Visions">The mysterious black liquid that gleams like ink, and gives off fumes that make you see strange visions.
        <br><br>
        <h4>What kind of instrument most pleases your ear?</h4>
        <input type="radio" name="question10" value="Violin">The violin<br>
        <input type="radio" name="question10" value="Trumpet">The trumpet<br>
        <input type="radio" name="question10" value="Piano">The piano<br>
        <input type="radio" name="question10" value="Drum">The drum
        <br><br>
        <h4>Which of the following would you most hate people to call you?</h4>
        <input type="radio" name="question11" value="Ordinary">Ordinary<br>
        <input type="radio" name="question11" value="Cowardly">Cowardly<br>
        <input type="radio" name="question11" value="Selfish">Selfish<br>
        <input type="radio" name="question11" value="Ignorant">Ignorant
        <br><br>
        <h4>After you have died, what would you most like people to do when they hear your name?</h4>
        <input type="radio" name="question12" value="Smile">Miss you, but smile<br>
        <input type="radio" name="question12" value="Adventures">Ask for more stories about your adventures<br>
        <input type="radio" name="question12" value="Achievements">Think with admiration of your achievements<br>
        <input type="radio" name="question12" value="Alive">I don't care what people think of me after I'm dead; it's what they think of me while I'm alive that counts
        <br><br>
        <h4>How would you like to be known to history?</h4>
        <input type="radio" name="question13" value="Wise">The Wise<br>
        <input type="radio" name="question13" value="Good">The Good<br>
        <input type="radio" name="question13" value="Great">The Great<br>
        <input type="radio" name="question13" value="Bold">The Bold
        <br><br>
        <h4>A Muggle confronts you and says that they are sure you are a witch or wizard. Do you:</h4>
        <input type="radio" name="question14" value="Why">Ask what makes them think so?<br>
        <input type="radio" name="question14" value="Jinx">Agree, and ask whether they’d like a free sample of a jinx?<br>
        <input type="radio" name="question14" value="Bluffing">Agree, and walk away, leaving them to wonder whether you are bluffing?<br>
        <input type="radio" name="question14" value="Mental">Tell them that you are worried about their mental health, and offer to call a doctor.
        <br><br>
        <h4>Which nightmare would frighten you most?</h4>
        <input type="radio" name="question15" value="Heights">Standing on top of something very high and realizing suddenly that there are no hand- or footholds, nor any barrier to stop you from falling.<br>
        <input type="radio" name="question15" value="Locked">An eye at the keyhole of the dark, windowless room in which you are locked.<br>
        <input type="radio" name="question15" value="Forgot">Waking up to find that neither your friends nor your family have any idea who you are.<br>
        <input type="radio" name="question15" value="Voice">Being forced to speak in such a silly voice that hardly anyone can understand you, and everyone laughs at you.
        <br><br>
        <h4>Given the choice, would you rather invent a potion that would guarantee you:</h4>
        <input type="radio" name="question16" value="Love">Love?<br>
        <input type="radio" name="question16" value="Power">Power?<br>
        <input type="radio" name="question16" value="Glory">Glory?<br>
        <input type="radio" name="question16" value="Wisdom">Wisdom?
        <br><br>
        <h4>If you could have any power, which would you choose?</h4>
        <input type="radio" name="question17" value="Minds">The power to read minds<br>
        <input type="radio" name="question17" value="Invisibility">The power of invisibility<br>
        <input type="radio" name="question17" value="Strength">The power of superhuman strength<br>
        <input type="radio" name="question17" value="Animals">The power to speak to animals<br>
        <input type="radio" name="question17" value="Past">The power to change the past<br>
        <input type="radio" name="question17" value="Appearance">The power to change your appearance at will
        <br><br>
        <h4>Which road tempts you most?</h4>
        <input type="radio" name="question18" value="Lane">The wide, sunny, grassy lane<br>
        <input type="radio" name="question18" value="Alley">The narrow, dark, lantern-lit alley<br>
        <input type="radio" name="question18" value="Path">The twisting, leaf-strewn path through woods<br>
        <input type="radio" name="question18" value="Street">The cobbled street lined with ancient buildings
        <br><br>
        <h4>Late at night, walking alone down the street, you hear a peculiar cry that you believe to have a magical source. Do you:</h4>
        <input type="radio" name="question19" value="Caution">Proceed with caution, keeping one hand on your concealed wand and an eye out for any disturbance?<br>
        <input type="radio" name="question19" value="Discover">Draw your wand and try to discover the source of the noise?<br>
        <input type="radio" name="question19" value="Stand">Draw your wand and stand your ground?<br>
        <input type="radio" name="question19" value="Shadows">Withdraw into the shadows to await developments, while mentally reviewing the most appropriate defensive and offensive spells, should trouble occur?
        <br><br>
        <h4>Which of the following would you most like to study?</h4>
        <input type="radio" name="question20" value="Centaurs">Centaurs<br>
        <input type="radio" name="question20" value="Goblins">Goblins<br>
        <input type="radio" name="question20" value="Merpeople">Merpeople<br>
        <input type="radio" name="question20" value="Ghosts">Ghosts<br>
        <input type="radio" name="question20" value="Vampires">Vampires<br>
        <input type="radio" name="question20" value="Werewolves">Werewolves<br>
        <input type="radio" name="question20" value="Trolls">Trolls
        <br><br>
        <h4>Which would you rather be?</h4>
        <input type="radio" name="question21" value="Envied">Envied?<br>
        <input type="radio" name="question21" value="Imitated">Imitated?<br>
        <input type="radio" name="question21" value="Trusted">Trusted?<br>
        <input type="radio" name="question21" value="Praised">Praised?<br>
        <input type="radio" name="question21" value="Liked">Liked?<br>
        <input type="radio" name="question21" value="Feared">Feared?
        <br><br><br>
        <div id=submit-div>
          <input type="submit" value="Sort Me">
        </div>
        <br><br>
      </form>
    </div>
  </body>
</html>
