<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Sorting Quiz</title>
  </head>
  <body>
    <div id="main-content">
      <br><br>
      <h1>Pottermore Sorting Quiz</h1>
      <p>Enter your name to begin</p>
      <br>
      <form action="/quiz" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="submit" value="Sort Me">
      </form>
    </div>
  </body>
</html>
