<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Sorting Quiz</title>
  </head>
  <body>
    <div id="main-content">
      <br><br>
      <h1>Pottermore Sorting Quiz</h1>
      <p>Enter your name to begin</p>
      <br>
      <form action="/quiz" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="submit" value="Sort Me">
      </form>
      <br><br><br>
      <div id="sub-content">
        <h5>All questions and answers are taken directly from the Hogwarts
        Sorting Quiz created by JK Rowling and found on Pottermore.</h5>
        <h5>The score values are taken from the Pottermore Analysis found
        <a href="https://www.reddit.com/r/Pottermore/comments/44os14/pottermore_sorting_hat_quiz_analysis/">here.</a>
        </h5>
        <h5>This quiz was created for educational purposes only</h5>
      </div>
    </div>
  </body>
</html>
