body{
  background-color: #4d4d4d;
  color: white;
}
#main-content{
  font-family: sans-serif;
  text-align: center;
  align-items: center;
}
#sub-content{
  font-family: sans-serif;
  margin: auto;
  width:50%;
}
input, textarea{
  font-family: sans-serif;
  padding: 8px;
}
input[type="submit"] {
  background-color: #800000;
  color: white;
  border: none;
}
#submit-div{
  text-align: center;
}
input[type="radio"]{
  margin-left: 18px;
}
.content{
  white-space:pre;
}
a{
  color: white;
}
